@font-face {
    font-family: 'KelsonBold';
    src: url('../public/Fonts/Headlines/Kelson-Sans-Bold.ttf');
}

@font-face {
    font-family: 'KelsonLight';
    src: url('../public/Fonts/Headlines/Kelson-Sans-Light.ttf');
}

@font-face {
    font-family: 'KelsonRegular';
    src: url('../public/Fonts/Headlines/Kelson-Sans-Regular.ttf');
}

@font-face {
    font-family: 'LatoRegular';
    src: url('../public/Fonts/Content/Lato-Regular.ttf');
}

@font-face {
    font-family: 'LatoLight';
    src: url('../public/Fonts/Content/Lato-Light.ttf');
}

@font-face {
    font-family: 'LatoSemiBold';
    src: url('../public/Fonts/Content/Lato-Semibold.ttf');
}

@font-face {
    font-family: 'LatoBold';
    src: url('../public/Fonts/Content/Lato-Bold.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'KelsonBold';
}

p {
    font-family: 'LatoRegular';
}