<div class="card">
   <div *ngIf="image" class="position-relative">
      <img [src]="image" class="card-img-top" alt="{{ title }}" />
   </div>
   <div class="card-body">
      <p class="card-text mb-2">{{ category }}</p>
      <h5 class="card-title mb-2">{{ title }}</h5>
      <p class="card-text">{{ description }}</p>
      <div class="d-flex justify-content-between mb-2">
         <div class="d-flex align-items-center">
            <div>
               <h4 class="mb-0">{{ authorName }}</h4>
            </div>
         </div>
         <!-- I'm interested button
         <button class="bold">I'm interested !</button>
         -->
      </div>
   </div>
</div>